@{
	ViewData["Title"] = "Relatórios";
}

<h2>Relatórios de contas</h2>

<hr />

<div class="d-flex justify-content-end">
	<a asp-controller="Bill" asp-action="Index" class="me-2"><button class="btn btn-success"><i class="bi bi-receipt"></i> Contas</button></a> 
	<a asp-controller="App" asp-action="Index"><input type="button" value="Voltar" class="btn btn-dark" /></a>
</div>

<h3>
	O Relatório está vazio...
</h3>

<p>
	Você não tem nenhuma conta registrada.
</p>