@model IEnumerable<OnlineBill.Domain.Models.CheckingAccount>

@{
    ViewData["Title"] = "Conta corrente";
}

<h1>Contas Correntes</h1>

<p>
    <a asp-action="Add"><i class="bi bi-plus-circle-fill"></i> Novo...</a>
</p>

@if (Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Descrição
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="table-item">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="table-item-command">
                    <a href="@Url.Action("Edit", new { id = item.Id })"><i class="bi bi-pen"></i></a> |
                    <a href="@Url.Action("Delete", new { id = item.Id })"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
else
{
    <div class="mt-5">
        <h4>
            Ops... Parece que você não tem registros de Contas Correntes.
        </h4>
        <p class="mt-4">
            Clique em "Novo..." para começar a criar.
        </p>
    </div>
}

<div class="buttons-at-end">
    <a asp-controller="App" asp-action="Index"><input type="button" value="Voltar" class="btn btn-dark" /></a>
</div>
