html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #FCFCFC;
}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    text-decoration: none;
    color: black;
}

ul.hover :hover {
    background-color: powderblue;
}

.table-item {
    font-size: 18px;
}

.table-item-command {
    font-size: 20px;
    width: 1%;
    white-space: nowrap;
    text-align: right;
}