html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #B0BEC5;
}

a {
    text-decoration: none;
    color: black;
}

a :hover {
    text-decoration: none;
    color: black;
}

ul.hover :hover {
    background-color: powderblue;
}

.table-item {
    font-size: 18px;
}

.table-item-command {
    font-size: 20px;
    width: 1%;
    white-space: nowrap;
    text-align: right;
}

.table-sort th {
    position: relative;
    user-select: none;
}

.table-sort th:hover {
    background-color: #0001;
    cursor: pointer;
}

.table-sort th::after {
    content: '\25b4';
    position: absolute;
    right: 0;
    font-size: inherit;
    transform-origin: center;
    transform: translate(-100%) rotate(180deg);
}

.table-sort th.asc {
    background-color: #0001;
}

.table-sort th.asc::after {
    font-size: inherit;
    transform: translate(-100%) rotate(0deg);
}

.table-sort th.table-head-command::after {
    content: none;
}

.table-sort th.table-head-command:hover {
    background-color: #B0BEC5;
    cursor: default;
}

.buttons-at-end {
    display: flex;
    justify-content: flex-end;
}

#cards-container {
    margin-top: 3%;
}

.card-button {
    border: none;
    background-color: transparent;
    width: 75%;
    text-align: left;
    color: white;
}

.card {
    background-color: #444;
}

.card:hover {
    background-color: #333A;
}

.card-image {
    display: flex;
    margin-left: 1rem;
    min-width: 3rem;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;

}

.card div.card-text {
    padding-left: 2px;
}

.pizza-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
