@{
	ViewData["Title"] = "Sobre";
}

<h2>Sobre</h2>

<br />

<h3>Conta Online</h3>

<p>
	Esse programa é um organizador simples de contas a pagar e receber.
	<br />
	O objetivo do "Conta Online" é facilitar e auxiliar no acompanhamento de suas contas pessoais.
</p>

<p>
	<strong>Obs.:</strong> Em desenvolvimento... <i class="bi bi-wrench"></i>
</p>