@{
	ViewData["Title"] = "Início";
}

<h2>Conta Online</h2>

<ul class="list-group flex-grow-1 hover">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Bill" asp-action="Index">Contas a Pagar/Receber</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Report" asp-action="Index">Relatórios</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="CheckingAccount" asp-action="Index">Contas Correntes</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="BillCategory" asp-action="Index">Categorias</a>
    </li>
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contatos</a>
    </li>
</ul>
