@{
	ViewData["Title"] = "Logout";
}

<br />

<h2>Obrigado por usar o sistema Conta Online</h2>

<br />

<a asp-controller="App" asp-action="Login"><button class="btn btn-dark">Voltar ao Login</button></a>